<!DOCTYPE html>
<html>
<head>
  <title>Teamworker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p><% if user_signed_in? %><%= "Logged in as #{current_user.email}" %> <%= link_to("Log out", :destroy_user_session) %><% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
